<!DOCTYPE html>
<html>
<%- include ("./components/head.ejs")%>
<body>
    <%- include("./components/header.ejs") %>

    <h1><%= title %></h1>
    <main>
        <%- include("./components/register_form.ejs") %>
    </main>

    <%- include("./components/footer.ejs") %>
</body>
</html>