<!-- profile form -->
<form action="/profile/edit %>" method="POST" class="mt-4">
  <div class = "container my-5">
      <!-- firstname -->
      <div class="mb-3">
          <label for="firstname" class="form-label">Firstname:</label>
          <input type="text" id="firstname" name="firstname" class="form-control" value="<%= user.firstname || '' %>" required>
      </div>

      <!-- Middlename -->
      <div class="mb-3">
          <label for="middlename" class="form-label">Middlename:</label>
          <input type="text" id="middlename" name="middlename" class="form-control" value="<%= user.middlename || '' %>" >
      </div>

      <!-- lastname -->
      <div class="mb-3">
          <label for="lastname" class="form-label">lastname:</label>
          <input type="text" id="lastname" name="lastname" class="form-control" value="<%= user.lastname || '' %>" >
      </div>

      <!-- profile pic url-->
      <div class="mb-3">
          <label for="picture" class="form-label">Profile picture URL:</label>
          <input type="text" id="picture" name="picture" class="form-control" value="<%= user.picture || '' %>" required>
      </div>

      <!-- username -->
      <div class="mb-3">
          <label for="username" class="form-label">username:</label>
          <input type="text" id="username" name="username" class="form-control" value="<%= user.username || '' %>" required>
      </div>

      <!-- email -->
      <div class="mb-3">
          <label for="email" class="form-label">email:</label>
          <input type="text" id="email" name="email" class="form-control" value="<%= user.email || '' %>" required>
      </div>

      <!-- role -->
      <div class="mb-3">
        <label for="roleSelector">Role:</label>
        <select id="roleSelector" name="role"></select>
      </div>

      <!-- Hidden input field for user.email -->
     <input type="hidden" id="userEmail" name="userEmail" value="<%= user.email %>">
     
      <!-- password -->
      <div class="mt-3">
          <div>
          <a  href="/profile/password-update" class="btn btn-success mt-2 d-block text-center"><i class="fab"></i> Update Password </a>
          </div>
      </div>


      <!-- submit button -->
      <div class="mt-3">
          <div>
          <button type="submit" class="btn btn-primary mt-2 d-block text-center"><i class="fab"></i> Submit </button>
          </div>
      </div>

  </div>
</form>

<script>
    fetch('https://doc.gold.ac.uk/usr/642/api/roles')
        .then(response => response.json())
        .then(data => {
            const enumValues = data.enumValues;
            // Populate your frontend query selector
            const roleSelector = document.getElementById('roleSelector'); // Replace with your actual selector ID

            enumValues.forEach(value => {
            const option = document.createElement('option');
            option.value = value;
            option.text = value;
            roleSelector.appendChild(option);
            });
        })
        .catch(error => {
            console.error('Error fetching enum values:', error);
        });

</script>